<h1>Nodes</h1>

<table id="node_list" class="node_list">
  <thead>
    <th></th>
    <th><%= report_count_graph %></th>
  </thead>
  <tbody>
    <% @nodes.each do |node| %>
    <tr id="node-<%= node.id %>">
      <td><%= link_to node.name, node_path(node) %></td>
      <td><%= node_report_count_graph(node) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
