<h1>Node <%= link_to @node.name, node_path(@node) %></h1>
<h3>Last report: 
	<% if @most_recent_report %>
	  <%= link_to  @most_recent_report.timestamp.to_s, report_path(@most_recent_report) %>
	<% else %>
	  Never reported in.
	<% end %>
</h3>
<%= render :partial => 'facts', :locals => { :facts => @node.details } %>