<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/x
html1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
	  <%= stylesheet_link_tag 'normal' %>
	</head>
	<body>
		 <ul id="navbar">
			<li><%= link_to 'Nodes', nodes_path %></li>
		 </ul>

		<h1 id="masthead">
			<a href="/"><img src="/images/Reductive-masthead.png" alt="Reductive Labs" /></a>
		</h1>

		<div id="content" class="column">
			<%= yield :layout %>
		</div>
		
		<div id="sidebar" class="column">
    	<div id="topiclist">
     		<br />
		  	<h3>Links</h3>

			  <div class="webgen-menu-vert">
					<ul>
						<li class="webgen-menu-item-selected">
							<a href="http://reductivelabs.com/" title="Reductive Labs">Reductive Labs</a>
						</li>
					</ul>
				</div>
		  </div>
		</div> 

		<div id="foot">
			<p>
				<a href="http://reductivelabs.com/">
				Copyright &copy;<span class="years">&nbsp;&nbsp;2008</span>

				&nbsp;&nbsp;Reductive Labs, LLC.
				</a>
			</p>
		</div>
	</body>
</html>