<%= juggernaut %>

<div id="content">
  
  <div id="node_status">
    <h2>Node Status</h2>
    
    <div id="failed_nodes">
      <h3>Failed</h3>
      
      <ul>
        <% @failed_nodes.each do |node| %>
          <li><%= link_to node.name, node %></li>
        <% end %>
      </ul>
    </div>
    
    <div id="silent_nodes">
      <h3>Not Checked In</h3>
      
      <ul>
        <% @silent_nodes.each do |node| %>
          <li><%= link_to node.name, node %></li>
        <% end %>
      </ul>
    </div>
    
  </div>
  
  <div id="logs">
    <h2>Logs</h2>
    
    <div id="dashboard_log_list">
    <table id="dashboard_logs" class="logs">
      <tr id="dashboard_logs_top"></tr>
      <%= render :partial => 'logs/log', :collection => @logs %>
    </table>
    </div>
  </div>
  
</div>

<script type="text/javascript">
  var LOG_MESSAGE_LIMIT = 100;
  var LOG_CHECK_INTERVAL = 2;  // in seconds

  function limit_log_messages() {
    $('#dashboard_logs tr:gt(' + LOG_MESSAGE_LIMIT + ')').remove();
  }

  window.setInterval(limit_log_messages, LOG_CHECK_INTERVAL * 1000);
</script>
