= juggernaut
#content
  #node_status
    %h2
      Node Status
    #failed_nodes
      %h3
        Failed
      %ul
        - @failed_nodes.each do |node|
          %li
            = link_to node.name, node
    #silent_nodes
      %h3
        Not Checked In
      %ul
        - @silent_nodes.each do |node|
          %li
            = link_to node.name, node
  #logs
    %h2
      Logs
    #dashboard_log_list
      %table#dashboard_logs.logs
        %tr#dashboard_logs_top/
        = render :partial => 'logs/log', :collection => @logs
%script{ :type => "text/javascript" }
  var LOG_MESSAGE_LIMIT = 100;
  var LOG_CHECK_INTERVAL = 2;  // in seconds
  
  function limit_log_messages() {
  $('#dashboard_logs tr:gt(' + LOG_MESSAGE_LIMIT + ')').remove();
  }
  
  window.setInterval(limit_log_messages, LOG_CHECK_INTERVAL * 1000);
