#content

  = javascript_include_tag "search.js"
  #search
    - form_tag(search_path, {:id => 'search_form', :method => 'get' }) do
      = text_field_tag 'q'
      = submit_tag('Search')
  #search_results_container

