/* --------------------------------------------------------------------------------
	Black Value: #000;
	White Value; #fff;
	Body Copy Color: #320;
	Reductive Labs Plum: #717;
	Reductive Labs Amber: #DA3;
	Reductive Labs Burnt Amber: #850;
	Pale Yellow Accent: #fbf7c9;
   -------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------
	Globals
   -------------------------------------------------------------------------------- */
* {margin: 0; padding: 0;}
body {font: 0.8125em Helvetica, Arial, sans-serif; 
			line-height: 1; 
			color: #000;
			margin: 0; 
			padding: 0;
            background-image: url(/images/left-edge-puppets-pattern.png);
            background-repeat: repeat-y; 
        }
a {text-decoration: none;}
a img {border: none;}

ul { list-style: none; }

#masthead a, 
	#navbar a, 
	#banners a, 
	a.button, 
	#main h1 a, 
	.title a:link, 
	.title a:visited, 
	.byline a:link, 
	.byline a:visited {border-bottom-width: 0;}
	
#main h1 a:hover, 
	.title a:hover, 
	.byline a:hover {border-bottom-width: 1px;}


h1 {margin: 0; padding: 0;}

div {margin: 0; padding: 0;}
h1 {font: bold 18pt Helvetica, Arial, sans-serif; 
			text-align: left; 
			color: #000; }
h2 { font: 1.7em Helvetica, Arial, sans-serif; 
			text-align: center; 
			color: #000;
			background: none;}
h2 a {color: #000;}
h2 a:hover {color: #000;}
h2 em {font-style: normal;}
h3 {font: 1.3em Helvetica, Arial, sans-serif; 
			color: #000; 
			padding-bottom: 3em; 
			text-align: left;}
h4 {font: bold 1.0em Helvetica, Arial, sans-serif; color: #717; text-transform: uppercase; }
h5 {font: bold 0.7em Helvetica, Arial, sans-serif; color: #000;}

blockquote, pre {padding: 0.25em 40px;}

pre, code {font: 1.05em Courier, monospace;}
pre {line-height: 1.5em;}
pre strong {font-size: 1em; font-weight: bold;}
pre code {font-size: 1em; line-height: 1.5em;}

caption {padding: 0.75em; font: 1.5em Helvetica, Arial, sans-serif;
			border: 1px solid #B2B2B2; border-width: 1px 0 2px;
			background: #EEE;}

th {
	background: #fbf7c9;
}
td {
	padding: 10px;
}

/* --------------------------------------------------------------------------------
	Masthead / Logo
   -------------------------------------------------------------------------------- */

#medal { position: absolute;
			top: 80px;
			left: 57px;
			border: none;
			padding: none;
		}
#medal a { 		border: none;
		}
#medal a:hover {
			border: none;
		}

#masthead { position: absolute;
			z-index: 11; 
			top: 0px; 
			left: 28px;
			padding-top: 10px;
		}
#masthead img {
			background: transparent; 
			position: absolute;
			top: 0px;}
			
#masthead a:hover {background: #000; }

#masthead.raised { top: -165px; }
#masthead.raised:hover { top: -165px; }


.column {float: left;}

/* --------------------------------------------------------------------------------
   Top Navigation
   -------------------------------------------------------------------------------- */

#navbar { 		z-index: 2;
			overflow: hidden;
			position: absolute;
            left: 200px;
            padding: 0px 15px 20px 15px;
			font: 16px Helvetica, Arial, sans-serif; }
			
#navbar ul {text-align: center;
			width: 100%; }
			
#navbar li {float: left;
			padding: 0px 15px 0px 15px;}
							
#navbar li a {display: block; 
			padding: 9px 7px 11px 7px;			
			background: none; 
			color: #717;
			}
	
#navbar #feed {background: none;}
#navbar a:hover,
	.start #navbar #start a,
	.about #navbar #about a,
	.support #navbar #support a,
	.download #navbar #download a,
	.feed #navbar #feed a {
			color: #A2A;
			padding: 9px 7px 10px 7px;		
			}

#navbar li a.selected {
			color: #313;
			padding: 9px 7px 10px 7px;
			}
	


/* --------------------------------------------------------------------------------
   Main Body Content
   -------------------------------------------------------------------------------- */

#bd { padding: 0 10% 0 10%; }
#main {
	padding-left: 220px;
}

#content {		background: transparent;
	 		float: none;
			position: relative;
            top: 40px;
}


#content a:link, 
#content a:visited {
			text-decoration: none;
			color: #717; 
			border-bottom: 1px solid #DA3;}

#content a:hover {
			text-decoration: none;
			color: #DA3;
			border-bottom: 1px solid #717; }
			
#content h1 {margin: .75em 0 0 0;
			border: thin solid white;
}
#content h2 {margin: 1em 0 .5em 0;}
#content h3 {margin: .5em 0 .5em 0;
		padding: .7em 0 0 0; }
#content h4 {margin: 1.5em 0 .5em 0;}
#content p {margin: .5em 0 1em 0;
	line-height: 1.25em; }

#content hr {margin: 1.5em 0 1.5em 0px;}
			
#content blockquote { margin: 2em 4em 1em 2em;
			font: italic 1.05em Helvetica, Arial, sans-serif;
			background: transparent url(/images/quote_wh.gif) 15px -1px no-repeat;}
			
#content .title {font: 1.8em;  margin-bottom: 0.5em;}

#content li { margin-bottom: 0px;
			border: none;
			padding-left: 25px;
			padding-top: 2px;
			padding-bottom: 2px;
			line-height: 1.25em;
			background: transparent url(/images/diamond-gray.gif) 15px 5px no-repeat;}
			
#content img {
			border-top: thin solid #ddd;
			border-left: thin solid #ddd;			
			border-right: thin solid #444;
			border-bottom: thin solid #444;
}
#content img.float.left {
			margin: 15px 15px 15px 0px;	
			float: left;
}

#content img.float.right {
			margin: 15px 0px 15px 15px;	
			float: right;
}

/* --------------------------------------------------------------------------------
   Right Side Navigation
   -------------------------------------------------------------------------------- */

#sidebar { 		float: none;
			z-index: 3;
			width: 12%; 
			padding-left: 5px;
			padding-right: 10px;
			padding-bottom: 50px;
			position: absolute;
			right: 10;
			top: 35px;
			background: #d09000; }
			
#sidebar div { padding: 5px 0.5em; 
		background: #d09000;}
#sidebar div.first { padding-top: 0; }
#sidebar li {   padding: 1px 0 3px 22px;
		font: .9em Helvetica, Arial, sans-serif;
		background: url(/images/diamond-gray.gif) 15px .33em no-repeat;}

#sidebar li a:link, 
	#sidebar li a:visited { color: #717; }

#sidebar li a:hover { color: #A2A;}
			
#sidebar h1 { font: italic bold .9em Helvetica, Arial, sans-serif; 
			color: #000; 
			border-bottom: 1px solid #DA3; 
			padding-bottom: 23px; 
			padding-top: 23px; 
			text-transform: uppercase;  
			letter-spacing: 2; 
			text-align: center;}
	
#sidebar h3 { font: bold .9em Helvetica, Arial, sans-serif; 
			text-transform: uppercase; 
			color: #717; 
			padding-bottom: 4px;}

#topiclist { border: 0px; font: 1em Helvetica, Arial, sans-serif;}
#topiclist a {border: 0px; font: 1em Helvetica, Arial, sans-serif;}

#partners p { text-align: center; 
			border-top: 1px solid #DA3;
			padding-top: 25px;}
#partners a { border-bottom: 0px;}
/* --------------------------------------------------------------------------------
   Brand Bug
   -------------------------------------------------------------------------------- */

#brandbug { 		background: transparent;
			position: absolute;
			top: 250px; 
			left: 55px;
			}

#brandbug-high { 	background: transparent;
			position: absolute;
			top: 50px; 
			left: 255px;
			}
			
/* --------------------------------------------------------------------------------
   Footer
   -------------------------------------------------------------------------------- */
#foot { 
			width: 100%;
			position: absolute;
            text-align: center;
			bottom: 0px;
			left: 0px;
			}
		
#foot a {	font: 18pt Helvetica, Arial, sans-serif;
			color: #717;
			padding: none;
			margin: none;
			border: none;}

#foot a:hover { color: #A2A; 
			background: none;
			padding: none;
			margin: none;
			border:none; }

#flask {
    background: transparent url(/images/puppetflask.png) bottom left no-repeat;
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 171px;
    height: 298px;
}

#lotus {
    background: transparent url(/images/puppetlotus.png) bottom left no-repeat;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 102px;
    height: 177px;
}
/* --------------------------------------------------------------------------------
			Special stuff added EXCLUSIVELY for TRAC
   -------------------------------------------------------------------------------- */

#mainnav {
				z-index: 8;
				padding: none;
				position: absolute;
				left: 0px;
				right: 0px;
				top: 23px;
				border: none;
				color: #fee;
				width: 100%;
				background: transparent url(/images/black-gradient.png) 0px 0px repeat-x;
				}
#mainnav li {
				background: url(/images/black-gradient.png) 0px -2px repeat-x;
				}

#mainnav :link {
				color: #ddd;
				font: 10pt Helvetica, Arial, sans-serif; 
				}
#mainnav :visited {
				color: #ddd;
				font: 10pt Helvetica, Arial, sans-serif; 
				}

#mainnav a:hover {
				color: #fff;
				font: 10pt Helvetica, Arial, sans-serif; 
				background: #000 url(/images/chrome-gradient.png) 0px 0px repeat-x;
				}

#mainnav.nav {
				color: #fee;
				font: 10pt Helvetica, Arial, sans-serif;
				}

#mainnav a {
				color: #fee;
				font: 10pt Helvetica, Arial, sans-serif; 
				}

#ctxtnav {
				z-index: 8;
				font: 13pt Helvetica, Arial, sans-serif;
				position: absolute;
				right: 0px;
				left: 185px;
				top: 50px;
				padding: 3px 0px 4px 0px;
				background: transparent url(/images/short-background-amber-dark.png) 0px -2px repeat-x;
				color: #777;	
				border: none;
				}

#ctxtnav ul {
				text-align: left;
				border: none;
				}

#metanav {
				color: #777;	
				font: 13pt Helvetica, Arial, sans-serif;
				z-index: 9;
				position: absolute;
				right: 0px;
				top: 54px;
				background: none;
				border: none;
				top-padding: 2px;
				}

#ctxtnav li {
				color: #000;			
				}
				
#metanav :link,
#ctxtnav :link {
				color: #eef;
				text-decoration: none;
				border: none;
				background: none;
				}

#metanav :visited,
#ctxtnav :visited {
				color: #DA3;
				text-decoration: none;
				border: none;
				background: none;
				}

#metanav a:hover,
#ctxtnav a:hover {
				color: #000;
				text-decoration: none;
				border: none;
				background: none;
				}
#metanav li.first {
				color: #DA3;
}

#foot p
{
				border: none;
				font: 8pt Helvetica, Arial, sans-serif;
				color: #000;
				}

#foot p.left a {
				font: 7pt Helvetica, Arial, sans-serif;
				color: #717;
				}

#foot p.right a {
				font: 7pt Helvetica, Arial, sans-serif;
				color: #717;
				}

#foot p.left {
				float: left;
				margin-left: 1em;
				padding: 5px 1em;
				border: none;
				font: 7pt Helvetica, Arial, sans-serif;
				}

#foot p.right {
				float: right;
				margin-left: 1em;
				padding: 5px 1em;
				border: none;
				font: 7pt Helvetica, Arial, sans-serif;
				}

#info { background: #000;}

#content tr { border: none; }
#content tr.odd { background: #fff; }
#content tr td.report { text-align: center; }
#content tr.even { background: #fbf7c9; }

#content em { color: #850; 
			border-bottom: none; }
#content h2 { background: none; 
			  text-align: left;}
#content div.roadmap li { background: none; }

#content dl dt.wiki { 		padding-right: 0px;
				margin-right: 0px;
				border-bottom: none; }
#content div.wikipage {
		padding-bottom: 100px;
}

li.roadmap { background: none; }

div.wiki { padding: 0 0 0 0;
				width: auto;
				font: 10pt Helvetica, Arial, sans-serif; }
div.timeline {
		padding: 0 0 0 0;
		font: 10pt Helvetica, Arial, sans-serif;}
div.roadmap { padding: 0 0 0 0; 
				font: 10pt Helvetica, Arial, sans-serif; }
div.report { padding: 0 0 0 0; 
				font: 10pt Helvetica, Arial, sans-serif;}
div.search { padding: 0 0 0 0; 
				font: 10pt Helvetica, Arial, sans-serif;}
div.ticket { padding: 0 0 0 0; 
				font: 10pt Helvetica, Arial, sans-serif;}
div.query {  padding: 0 0 0 0; 
				font: 10pt Helvetica, Arial, sans-serif;}

div.settings { padding: 0 0 0 0; 
				font: 10pt Helvetica, Arial, sans-serif;}
div.about { padding: 0 0 0 0; 
				font: 10pt Helvetica, Arial, sans-serif; }
div.milestone { padding: 0 0 0 0;
				font: 10pt Helvetica, Arial, sans-serif; }
div.report { padding: 0px 0px 0px 0px; 
				margin: 0px 0px 0px 0px;
				font: 10pt Helvetica, Arial, sans-serif; }
div.help { padding: 0px 0px 0px 0px; 
				font: 10pt Helvetica, Arial, sans-serif; }
div.changeset { padding: 0px 0px 0px 0px; 
				font: 10pt Helvetica, Arial, sans-serif; }
div.info { font: 10pt Helvetica, Arial, sans-serif; 	}

#altlinks {
			clear: both;
			background: #fbf7c9;
			border: thin solid black;
			display: inline;
			position: relative;
			width: 10%;
			text-align: center;
}
#altlinks h3 {
			padding-bottom: 10px;
			text-align: center;
}

#content table.listing {
				border: thick solid white;
				margin-right: 10px;
				margin-left: 10px;
}

#content table.listing.tickets {
				margin: 0px 0px 0px 0px;
}

table.listing thead th {
				font: 10pt Helvetica, Arial, sans-serif;
				border: none;
				font-size: 11px;
				color: #fff;
				padding: 2px .5em;
				vertical-align: bottom;
				background-color: #516;
				}
				
#content table.listing th a { font: 10pt Helvetica, Arial, sans-serif;
				border: none; 
				color: #fff; }

#content table.listing th { text-align: center; 
				margin: none;
				padding: none;}

#content table.listing td,
#content table.listing tr a { font: 10pt Helvetica, Arial, sans-serif;
	 			border: none; }

#content dt a:link, 
#content dt a:visited {	border: none; }

#content dt a:hover { border: none; }
#mainnav .active :link, #mainnav .active :visited {
				background: #fff url(/images/top-background-white.gif) 0px -5px repeat-x;
				border-top: none;
				top-padding: 1px;
				border-right: 1px solid #000;
				color: #000;
				text-decoration: none;
				}

#content ul.milestones li.milestone { background-color: #f00; 
				background: url(/images/diamond-black.gif) 16px 33px no-repeat;
				text-align: left;}

#content ul.milestones li:hover {
				background: url(/images/diamond-gray.gif) 16px 33px no-repeat;
				}

#content div.info {
				padding: none;
				margin: none;
				}

#content div.wiki-toc {
				font: 8pt Helvetica, Arial, sans-serif;
				padding-left: 0px;
				padding-right: 0px;
				padding-bottom: 50px;
				position: relative;
				top: -50px;
				left: 1px;
				width: 154px;
				background: #fbf7c9;
				}
#content div.tabcontents {	position: relative;
				left: -202px;
				
}
				
#content div.tabs {
				font: 8pt Helvetica, Arial, sans-serif;
				padding-left: 0px;
				padding-right: 0px;
				padding-bottom: 50px;
				position: absolute;
				left: -202px;
				top: -25px;
				width: 154px;
				background: #fbf7c9;
				}


#content div.wiki-toc h4 {
				font: bold 8pt Helvetica, Arial, sans-serif;
				}
#content div.wiki-toc h2 {
				display: none;
				font: 6pt Helvetica, Arial, sans-serif;
				text-align: center;
				}
#content div.wiki-toc li {
				background: none;
				}
#content div.date {
				background: #fbf7c9;
				font: 9pt Helvetica, Arial, sans-serif;
}

#content pre.wiki {
				font: 9pt Courier, fixed;
				margin-right: 40px;
				background: #fbf7c9;
				}
#prefs,
#ticket,
#ticket .description,
#changelog,
#changelog .change,
#changelog .comment,
#prefs div {			position: static;
				left: -100px;
				background: #fbf7c9;
}
#addaccount  {			position: relative;
				left: 230px;
				top: -35px;
				clear: both;
				background: #fbf7c9;
}

#content li.entry,
#changelog li {
				padding-left: 0px;
				background: none;
}
#changelog em {
				color: #717;
}
#overview dt.property {
				margin: 0px 0px 0px 120px;
}
#content {
				width: 75%;
				margin-right: 0px;
				padding-right: 0px;
}
#content.column {
				float: left;
				width: 60%;
				padding-left: 220px;
				margin-right: 0px;
				padding-right: 0px;
}
#content ul.tags {
				padding-top: 50px;
				padding-left: 220px;
}

#content dl.docutils { padding-bottom: 15px; }

#footer { display: none; }

div.section h1 #info { background-color: #fff;
			border-top: none;
			border-left: none;
			border-right: none; }
#content td.message,
#content ul.props {		
				background: #fbf7c9;
				margin: 0px;
				padding: 5px;
}
#content ul.props li {
				background-image: none;
}
div.section h4 { text-transform: none; }

#content ol {
				margin-left: 50px;
}
#content ol li {
				margin-left: 0px;
				padding-left: 0px;
				background-image: none;
}
