config/database.yml
config/puppet_lib.rb
config/juggernaut.yml
config/juggernaut_hosts.yml
config/*.sphinx.conf
/spec/spec.opts
db/schema.rb
db/*.sqlite3
db/*.db
log/*.log
/coverage
vendor/facter
vendor/puppet
public/stylesheets/puppetshow.css
