config/database.yml
config/puppet_lib.rb
config/*.sphinx.conf
/spec/spec.opts
db/schema.rb
db/*.sqlite3
db/*.db
db/sphinx
log/*.log
log/searchd.*.pid
/coverage
vendor/facter
vendor/puppet
public/stylesheets/puppetshow.css
